body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.panel1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 380px;
    height: 420px;
    background: rgb(14, 10, 49);
    z-index: 2;
    padding: 10px;
    opacity: 0.7;
    overflow: hidden;
}


.panel1 #container1 {
    width: 410px;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.hoverbar{
    position: absolute;
    left: 410px;
    top: 0px;
    width: 250px;
    height: 150px;
    background: rgb(14, 10, 49);
    z-index: 2;
    padding: 20px;
    opacity: 0.7;
    overflow: hidden;
}

.map-overlay {
    font: 20px inherit;
    background-color: rgb(14, 10, 49);
    position: absolute;
    width: 400px;
    height: 500px;
    opacity: 0.7;
    border-radius: 3px;
    top: 0;
    left: 0;
    padding: 0px;
}

.map-overlay .map-overlay-inner {
    padding: 30px;
    margin-bottom: 30px;
}

.map-overlay table {
    border: none;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    display: block;
    margin: 10px 0px;
}

.map-overlay label {
    font: 18px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    display: contents;
    margin: 0 0 0 0px;
    padding: 0;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.collapsible {
    background-color: rgb(189, 189, 189);
    height: 50px;
    width: 300px;
    color: black;

}

.map-overlay .slider {
    width: 220px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    min-width: 220px;
    vertical-align: middle;
    position: relative;
    margin: 6px 0 0 0;
    cursor: ew-resize;
}

.map-overlay p.credit {
    margin: 0;
    padding: 0;
}

.mapboxgl-popup {
    transform: none !important;
    top: 0%;
    left: 20%;
}

.legend {
    background-color: rgb(180, 180, 180);
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.legend h4 {
    color: #000000;
    margin: 0 0 10px;
}

.legend div span {
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}

    .mapboxgl-popup {
        max-width: 400px;
        min-width: 180px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0, 0, 0, 20px;
    }

    .mapboxgl-popup-tip-container {
        width: 0px;
        height: 0px;
        margin: 0 auto;
        position: absolute;
    }

    .mapboxgl-popup-tip {
        width: 0;
        height: 0;
        margin: 0;
        border-left: 3 solid transparent;
        border-right: 3 solid transparent;
        border-top: 3 solid transparent;
        box-shadow: none;
    }